.ui-password {
    display: flex;
    position: relative;
    &__input {
        @include input-main;
        width: 100%;
    }
    &__button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0%, -50%);
    }
}

.ui-button-back-route {
    @include flex-all-center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: $box-shadow1;
    background: $color__white;
}

.ui-code-input {
    .react-code-input {
        display: flex !important;
        justify-content: space-between;
        width: 313px;
        margin-top: 45px;
        padding: 0 !important;
    }
}

.ui-admin__subheader {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
        @include admin-main-title;
        @include flex-all-center;
        button {
            line-height: 0%;
            svg {
                width: 30px;
                height: 30px;
                path {
                    stroke: $color__blue1;
                }
            }
        }
    }
    &-button {
        color: $color__white;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        @include flex-all-center;
        column-gap: 5px;
        border-radius: 20px;
        background: $color__black1;
        padding: 6px 15px 6px 20px;
    }
}

.ui-file-button {
    @include flex-all-center;
    width: 161px;
    height: 108px;
    border-radius: 8px;
    border: 2px dashed  $color__grey2;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}

.ui-input-search{

    @include input-main;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 1fr auto;
    padding: 0 20px;
    align-items: center;
    height: 50px;
}