@import "servisec.scss";
@import "activities.scss";
@import "user.scss";
.admin {
    padding: 100px 24px 24px 24px;
    min-height: 100%;
}

.admin__header {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: $color__black1;
    padding: 0 25px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 25px;
    z-index: 15;
    &-title{
        color: $color__grey3;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; 
    }
    &-button {
        @include flex-all-center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color__white;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    &-menu {
        z-index: 4;
        width: 307px;
        position: fixed;
        top: 100px;
        height: calc(100% - 100px);
        left: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        background-color: $color__white;
        padding: 41px 32px 0px 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        &--active {
            transform: translateX(0%);
        }
        &-route {
            z-index: 7;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            column-gap: 8px;
            padding-bottom: 20px;
            &--fill {
                svg {
                    path {
                        fill: $color__black1;
                    }
                }
            }
            &-svg {
                line-height: 0;
            }
        }
        &-subroute {
            color: $color__grey1;
            z-index: 6;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding-left: 38px;
            max-height: 0;
            overflow: hidden;

            transition: max-height 0.1s linear;
            & > div:last-child {
                padding-bottom: 20px;
            }
            &--height {
                max-height: 200px;
            }
        }
    }
}

