.services__all {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 12px;
    &-item {
        height: 150px;
        border-radius: 10px;
        background: $color__white;
        box-shadow: $box-shadow1;
        padding: 20px 16px 16px 20px;
        &-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            button {
                line-height: 0;
            }
            h6{
                @include text-tree-dots($wdh: 70px);
            }
            color: $color__grey1;
        }
        &-title {
            text-align: center;
            padding: 14px 0 10px 0;
            color: $color__blue2;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px; 
        }
        &-buttons {
            color: $color__blue2;
            display: flex;
            column-gap: 4px;
            &-2 {
                @include flex-all-center;
                height: 30px;
                padding: 5px 15px;
                border-radius: 15px;
                background: $color__orange;
                font-size: 10px;
            }
        }
    }
}

.services__add {
    min-height: 100vh;
    &-item{
        position: relative;
    }
    &-input {
        font-size: 24px;
        font-style: italic;
        font-weight: 600;
        line-height: 35px;
        color: $color__grey1;
        margin-bottom: 16px;
        margin-top: 24px;
        &::placeholder {
            color: $color__grey1;
        }
    }
    &-linkimage{
        width: 161px;
        height: 108px;
        border-radius: 8px;
        object-fit: cover;
    }
    &-remove{
        position: absolute;
        top: 60px;
        left: 130px;
        width: 50px;
        height: 50px;
        @include flex-all-center;
        background-color: $color__white;
        border-radius: 50%;
    }
    &-button {
        @include button-main;
        position: fixed;
        width: calc(100% - 48px);
        left: 50%;
        transform: translateX(-50%);
        &-1 {
            bottom: 90px;
        }
        &-2 {
            bottom: 24px;
        }
    }
}

.services__exit {
    display: flex;
    gap: 8px;
    svg {
        path {
            stroke: $color__blue !important;
        }
    }
}

.services__favor {
    .ui-input-search{
        margin-bottom: 4px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;
        border-bottom: 2px solid $color__orange;
        background: $color__white;
        margin-top: 16px;
        &-row1 {
            display: flex;
            column-gap: 20px;
            align-items: flex-start;
            &-img {
                min-width: 70px;
                min-height: 70px;
                border-radius: 8px;
            }
            &-title {
                color: $color__blue1;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 19.6px */
                text-decoration-line: underline;
            }
            &-footer {
                display: flex;
                column-gap: 6px;
                align-items: center;
                margin-top: 5px;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px; 
                color: $color__black2;
                span{
                    color: $color__blue;
                }
            }
            &-userimg {
                min-width: 25px;
                min-height: 25px;
                border-radius: 50%;
            }
        }
        &-row2-2{
            margin-top: 15px;
        }
        &-row2{
            display: grid;
            grid-template-columns: auto 60px auto 1fr;
            align-items: center;
            column-gap: 8px;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            color: $color__blue;
            &-svg{
                padding: 0 7px;
                @include flex-all-center;
            }
        }
    }
}

.services__modal{
    z-index: 10;
    position: fixed;
    top:50%;
    left: 0;
    transform: translateY(-50%);  
    &-body{
        padding: 0 40px; 
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &-line{
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
        &-visiable{
            display: grid;
            grid-template-columns: auto 1fr auto;
            column-gap: 8px;
            align-items: center;
            height: 30px;
        }
        svg{
            path{
                fill: black;
            }
        }
    }
    &-title{
        color: $color__blue;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
    }
}
