.user__routemodal {
    position: fixed;
    top: 170px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    max-width: 366px;
    width: 100%;
    &-body {
        color: $color__blue3;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        row-gap: 16px;
    }
    &-link {
        text-transform: capitalize;
    }
}

.user {
    &__list {
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__item {
        border-radius: 12px;
        background: #fff;
        display: flex;
        padding: 20px 20px 12px 20px;
        flex-direction: column;
        gap: 12px;
        &-row1 {
            display: grid;
            grid-template-columns: 68px 1fr 30px;
            height: 68px;
            column-gap: 20px;
            &-img {
                width: 68px;
                height: 68px;
                object-fit: cover;
                border-radius: 50%;
            }
            &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;
                font-style: normal;
                line-height: 16px;
            }
            &-user {
                display: flex;
                column-gap: 8px;
                align-items: center;
                b {
                    color: $color__blue4;
                    font-weight: 600;
                }
            }
            &-email {
                color: $color__blue5;
                font-weight: 600;
            }
            &-phone {
                color: $color__blue2;
                font-weight: 600;
            }
            &-button {
                height: 30px;
            }
        }
        &-row2 {
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            .services__favor-item-row2 {
                grid-template-columns: auto 40px auto 1fr;
                color: $color__grey7;
            }
            .services__favor-item-row2-svg {
                padding: 0 4.5px;
            }
        }
        &-blocked{
            display: grid;
            grid-template-columns: auto auto 1fr;
            align-items: center;
            column-gap: 17px;
            margin: 14px;
            &-title{
                color: $color__grey1;
                font-size: 12px;
                font-style: normal;
                font-weight: 900;
                line-height: 20px;
            }
            &-date{
                padding-top: 15px;
                color: $color__black2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; 
            }
            &-line{
                border-top: 2px solid $color__grey8;
                margin-top: 8px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 30px;
                padding-top: 12px;
            }
            &-row1{
                color: $color__grey7;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                display: grid;
                grid-template-columns: 24px 1fr;
                column-gap: 8px;
                align-items: center;
                img{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        &-tapmapbody{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-image: url('../../../public/Images/MapBackground.png');
        }
        &-tapmap{
            position: relative;
            color: $color__blue;
            @include flex-all-center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; 
           
        }
    }
}

.user__groups{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    &-item{
        min-height: 95px;
        padding: 15px;
        border-radius: 10px;
        color: $color__white;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        background: $color__green;
        box-shadow: $box-shadow1;
        &-name{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
        }
        &-button{
            background: $color__green2;
            border-radius: 15px;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; 
            height: 30px;
        }
    }
    &>div:nth-child(1){
        background: $color__purple;
        box-shadow: $box-shadow1;
        &>button{
            background-color: $color__purple2;
        }
    }
    &>div:nth-child(2){
        background: $color__orange2;
        box-shadow: $box-shadow1;
        &>button{
            background-color: $color__orange3;
        }
    }
    &>div:nth-child(3){
        background: $color__blue6;
        box-shadow: $box-shadow1;
        &>button{
            background-color: $color__blue7;
        }
    }
}

.user__modal {
    &-avatar {
        padding: 8px 0px;
        @include flex-all-center;
        flex-direction: column;
        gap: 12px;
        border-radius: 12px;
        background: $color__grey3;
        &-img{
            width: 48px;
            height: 48px;
            object-fit: contain;
            border-radius: 50%;
        }
        &-title{
            color: $color__blue;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            b{
                font-weight: 600;
            }
        }
    }
    &-body{
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        font-size: 16px;
        svg{
            path{
                fill: black;
            }
        }
        &-row1{
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            text-align: start;
            column-gap: 8px;
            &-edit{
                font-size: 14px;
                color: $color__blue1;
            }
            &-coord{
                font-size: 14px;
                color: $color__grey1;
            }
        }
        &-row2{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            text-align: start;
            column-gap: 8px;
        }
    }
    
}
