.location{
    &__subtitle{
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    &__but{
        margin-top: 45px;
        @include button-main;
        width: 100%;
        display: flex;
        column-gap: 10px;
    }
    &__fields{
        margin-top: 12px;
        display: grid;
        grid-template-columns: 1fr 62px;
        column-gap: 12px;
    }
    &__field{
        display: flex;
        position: relative;
        
        input{
            padding-left: 40px;
            width: 100%;
        }
        &-icon{
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__par{
        margin-top: 16px;
        color: $color__grey1; 
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
}