@import "default-style.scss";
@import "variables.scss";
@import "mixins.scss";
@import "./ui";
@import "./general";
@import "./admin/";
@import "./user/";



@import "media.scss";

html{
    height: -webkit-fill-available;
    background: #f7f8fa;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background: #f7f8fa;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden; 
    height: 100%;
    color: $color__blue;
    min-height: -webkit-fill-available;
}

#root{
    max-width: 100%;
    overflow-x: hidden; 
    width: 100%;
    height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


.MuiAutocomplete-popper{
    z-index: 9999 !important;
}