@media screen and (max-height: 700px) {
    .forget__back {
        top: 20px;
    }
    .forget {
        padding: 79px 40px 60px 40px;
    }
    .forget__title{
        font-size: 22px;
    }
    .forget__subtitle {
        font-size: 12px;
        text-wrap: nowrap;
        margin-top: 10px;
    }
    .location__but {
        margin-top: 20px;
    }
    .location__current-subtitle{
        margin-top: 0px;
    }
    .location__current-map-button{
        top: 20px;
    }
    .location__viewmap{
        height: 150px;
    }
    .location__mess{
        font-size: 10px;
    }
    .profile__method-body {
        margin: 20px 0 3px 0;

    }
    .ui-standart__header-subtitle{
        padding-top: 14px;
    }
    .profile{
        padding: 84px 40px 14px 40px;
    }
    .profile__sex{
        margin-top: 13px;
    }
    .profile__sex-orintation{
        margin-top: 15px;
    }
    .profile__sex-orintation-list{
        margin: 15px 0 5px 0;
        gap: 10px;
    }
    .profile__zone-body{
        max-height: 300px;
    }
    .profile__zone-map-google{
        height: 450px !important;
    }
    .location__success-img{
            &-1{
                height: 30px;
            }
            &-2{
                 height: 180px;
            }
    }
    .authsuccess__body-title{
        font-size: 22px;
    }
    .authsuccess__body-setup{
        font-size: 14px;
    }
}


@media screen and (max-width: 400px)  {
    .profile__sex-orintation-list{
        column-gap: 10px;
    }
    .profile__sex-orintation-list-item{
        padding: 0 10px;
    }
}