@media screen and (max-height: 700px) {
    .forget__back {
        top: 20px;
    }
    .forget {
        padding: 79px 40px 60px 40px;
    }
    .forget__title{
        font-size: 22px;
    }
    .forget__subtitle {
        font-size: 12px;
        text-wrap: nowrap;
        margin-top: 10px;
    }
    .location__but {
        margin-top: 20px;
    }
    .location__current-subtitle{
        margin-top: 0px;
    }
    .location__current-map-button{
        top: 20px;
    }
    .location__viewmap{
        height: 150px;
    }
    .location__mess{
        font-size: 10px;
    }
    .profile__method-body {
        margin-top: 25px;
    }
    .ui-standart__header-subtitle{
        padding-top: 14px;
    }
    .profile__zone-body{
        max-height: 300px;
    }
    .profile__zone-map-google{
        height: 450px !important;
    }
    .location__success-img{
            &-1{
                height: 30px;
            }
            &-2{
                 height: 180px;
            }
    }
    .authsuccess__body-title{
        font-size: 22px;
    }
    .authsuccess__body-setup{
        font-size: 14px;
    }
}
