$color__black: #000;
$color__black1: #0f1419;
$color__black2: #4D5E80;
$color__black3: #0F1419;
$color__black4: #292D32;
$color__black5: #111111;

$color__white: #fff;

$color__blue: #15104D;
$color__blue1: #3361FF;
$color__blue2: #6B7A99;
$color__blue3: #1C1C28;
$color__blue4: #15104d;
$color__blue5: #246BFD;
$color__blue6: #33BFFF;
$color__blue7: #17A5E6;

$color__grey1: #7D8FB3;
$color__grey2: #C3CAD9;
$color__grey3: #F7F8FA;
$color__grey4: #BDBDBD;

$color__grey5: #E5E5E6;
$color__grey6: #9D9EA2;
$color__grey7: #6B7A99;
$color__grey8: #EDEFF2;
$color__grey9: #8F90A6;
$color__grey10: #9CA0AC;

$color__orange: #F5F6F7;
$color__orange2: #F63;
$color__orange3: #E64B17;

$color__green: #29CC39;
$color__green2: #13BF24;

$color__purple: #83F;
$color__purple2: #7919FF;

$box-shadow1: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);


