$color__black: #000;
$color__black1: #0f1419;

$color__white: #fff;

$color__blue: #15104D;
$color__blue1: #3361FF;
$color__blue2: #6B7A99;

$color__grey1: #7D8FB3;
$color__grey2: #C3CAD9;
$color__grey3: #F7F8FA;

$color__orange: #F5F6F7;

$box-shadow1: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);