@import "foret-pass.scss";
@import "location-user.scss";
@import "profile.scss";
@import "profile-info.scss";
@import "messenger.scss";
@import "publish.scss";
@import "welcome.scss";
@import "comments.scss";
@import "notification.scss";

.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 40px 100px 40px;
    position: relative;
    &__title {
        @include title-main;
        text-align: center;
    }
    &__subtitle {
        @include sub-title-main;
        margin-top: 8px;
        text-align: center;
    }
    &__tab {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-top: 40px;
        min-height: 38px;
        border-bottom: 1px solid $color__grey12;
        &-but {
            color: $color__black1;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            height: fit-content;
        }
        &--pas {
            color: $color__grey1;
        }
        &-border {
            position: absolute;
            left: 0;
            bottom: 1px;
            height: 4px;
            width: 50%;
            background-color: $color__blue;
            transition: all 0.3s ease;
            border-radius: 20px 20px 0 0;
            &--l {
                transform: translateX(0%);
            }
            &--r {
                transform: translateX(100%);
            }
        }
    }
    &__messenger {
        display: flex;
        column-gap: 16px;
        margin-top: 25px;
        button {
            @include flex-all-center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $color__white;
            border: 1px solid $color__grey12;
        }
    }
    &__devider {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        column-gap: 16px;
        align-items: center;
        margin-top: 24px;
        &-text {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: $color__grey1;
        }
        &-line {
            height: 1px;
            background-color: $color__grey2;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    flex-grow: 1;
    &__email {
        @include input-main;
    }
    &__password {
        margin-top: 16px;
        position: relative;
    }

    &__forgot {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 10px;
        margin-top: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        justify-items: baseline;
        &-but {
            color: $color__blue1;
            text-align: start;
            &--active {
                color: $color__grey1;
            }
        }
        &-checkbox {
            width: 15px;
            height: 15px;
        }
    }
    &__button {
        @include button-main;
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 80px);
    }
}

.registration {
    margin-top: 25px;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    flex-grow: 1;
    &__policy {
        display: flex;
        align-items: flex-start;
        column-gap: 8px;
        font-size: 12px;
        font-style: normal;
        line-height: 16px;
        color: $color__grey1;
        b {
            color: $color__blue;
            font-weight: 600;
        }
    }
}

.authsuccess {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        &--img {
            flex-grow: 1;
            @include flex-all-center;
            position: relative;
            z-index: 3;
            &--girl {
                max-width: 154px;
                max-height: 264px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
            }
        }
        &--bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            z-index: 1;
            &--bgimg {
                width: 100%;
            }
        }
        &-logo {
            width: 214px;
            height: 59px;
            position: fixed;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title {
            color: $color__blue;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px;
            margin-top: 12px;
        }
        &-subtitle {
            b {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 35px;
            }
        }
        &-setup {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: $color__grey1;
            margin-top: 8px;
            padding-bottom: 20px;
        }
        &-buttons {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 80px);
            &-button {
                @include button-main;
                width: 100%;
            }
        }
    }
}

.auth__agree {
    &-list {
        margin-top: 16px;
    }
    &-button {
        margin-top: 24px;
        @include button-main;
        width: 100%;
    }
}

.auth__welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    &-logo {
        @include flex-all-center;
    }
    &-subtitle {
        padding-top: 20px;
        text-align: center;
        @include sub-title-main;
    }
    &-body {
        flex-grow: 1;
        @include flex-all-center;
        position: relative;
        &-img{
            z-index: 2;
        }
        &-bg{
            position: absolute;
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-buttons {
        display: flex;
        gap: 14px;
        &-button {
            @include button-main;
            width: 100%;
        }
    }
    .auth__messenger {
        margin-top: 16px;
        justify-content: center;
    }
}
