.location{
    &__body{
        flex-grow: 1;
    }
    &__subtitle{
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    &__but{
        margin-top: 45px;
        @include button-main;
        width: 100%;
        display: flex;
        column-gap: 10px;
    }
    &__fields{
        margin-top: 12px;
        
    }
    &__field{
        display: flex;
        position: relative;
        height: 50px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        input{
            padding-left: 40px;
            width: 100%;
        }
        &-icon{
            position: absolute;
            left: 10px;
            top: 50%;
            z-index: 2;
            transform: translateY(-42%);
        }
    }
    &__par{
        margin-top: 16px;
        color: $color__grey1; 
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
    &__bt-continue{
        @include button-main;
    }
}

.location__current{
    flex-grow: 1;
    &-map{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        &--target{
            position: fixed;
            top: 125px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &-title{
        @include title-main;    
    }
    &-subtitle{
        margin-top: 12px;
        @include sub-title-main 
    }
    &-button{
        margin-top: 20px;
        display: grid;
    }
}