.location{
    &__body{
        flex-grow: 1;
    }
    &__subtitle{
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
    &__but{
        margin-top: 45px;
        @include button-main;
        width: 100%;
        display: flex;
        column-gap: 10px;
    }
    &__fields{
        margin-top: 12px
    }
    
    &__mess{
        padding-top: 16px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color:$color__grey1;
        padding-bottom: 59px ;
        position: relative;

    }
    &__success-img{
        &-1{
            height: 40px;
        }
        &-2{
             height: 250px;
        }
    }
    &__viewmap{
        margin-top: 16px;
        width: 100%;
        height: 190px;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        &-img{
            height: 100px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__field{
        display: flex;
        position: relative;
        height: 50px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        overflow: hidden;
        input{
            margin-left: 25px;
            width: 100%;
            z-index: 9999;
        }
        .profile__birth-input-placeholder{
            left: 40px !important;
        }
        &-icon{
            position: absolute;
            left: 10px;
            top: 50%;
            z-index: 2;
            transform: translateY(-42%);
        }
    }
    &__par{
        margin-top: 16px;
        color: $color__grey1; 
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
    &__bt-continue{
        @include button-main;
    }
}

.location__current{
    flex-grow: 1;
    &-map{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 200px);
        &--target{
            position: fixed;
            top: calc(50% - 92.5px);
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &-button{
            position: absolute;
            top: 40px;
            right: 24px;
            z-index: 5;
        }
    }
    &-title{
        @include title-main;    
    }
    &-subtitle{
        margin-top: 12px;
        @include sub-title-main 
    }
    &-button{
        margin-top: 20px;
        display: grid;
    }
}