.messenger {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    &__getstarted {
        flex-grow: 1;
        background-image: url("../../../public/Images/welcomebg.png");
        width: 100%;
        background-position: center;
        object-fit: contain;
        &-body {
            @include flex-all-center;
            flex-direction: column;
        }
        @include flex-all-center;
        row-gap: 12px;
        &-title {
            padding-top: 12px;
            @include title-main;
        }
        &-subtitle {
            @include sub-title-main;
            display: flex;
            align-items: center;
            text-align: center;
            &-1{
                padding-top: 10px;
            }
            &-2{
                padding-top: 6px;
            }
        }
        &-button {
            padding: 0 4px;
            &-1 {
                margin-top: 3px;
                height: 20px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            &-2 {
                svg {
                    width: 16px;
                    height: 10px;
                    path {
                        fill: $color__black1;
                    }
                }
            }
        }
    }
    &__alluser{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 45px;
        &--letter{
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            color: $color__black4 ;
        }
        &--letters{
            position: fixed;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }
        &-item{
            height: 48px;
            display: grid;
            grid-template-columns: 48px 1fr;
            gap: 12px;
            align-items: center;
            &-1{
                grid-template-columns: 48px 1fr auto;
            }
            &-button{
                @include flex-all-center;
                height: 35px;
                border-radius: 30px;
                background: $color__black1;
                box-shadow: $box-shadow1;
                color: $color__white;
                padding: 0 30px;
                &--active{
                    border: 2px solid $color__black1;
                    color: $color__black1;
                    background: $color__grey3;
                }
            }
            &-img{
                width: 48px;
                height: 48px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-title{
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; 
                max-width: 120px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
            }
            &-subtitle{
                @include sub-title-main;
                max-width: 120px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
            }
        }
    }
}

.messenger__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &-item {
        display: grid;
        grid-template-columns: 67px 1fr auto;
        column-gap: 11px;
        max-height: 67px;
        img {
            width: 67px;
            height: 67px;
            object-fit: cover;
            border-radius: 50%;
        }
        &-name {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
        &-message {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            max-width: 230px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 40px;
            height: 100%;

            &--notread {
                color: $color__grey10;
            }
        }
        &-time {
            white-space: nowrap;
            color: $color__black;
            text-align: right;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
        &-nummes {
            background-color: $color__blue1;
            @include flex-all-center;
            color: $color__white;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            border-radius: 30px;
            height: 30px;
            padding: 0 15px;
            margin-top: 8px;
            max-width: 45px;
        }
    }
}

.messenger__chat {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    &-messages {
        padding-top: 12px;
        max-width: 100%;
        overflow-x: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-bottom: 50px;
        &-message {
            display: flex;
            flex-direction: column;
            max-width: 70vw;
            width: fit-content;
            padding: 10px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            font-size: 14px;
            img {
                width: 230px;
                height: 150px;
                object-fit: cover;
                border-radius: 4px;
                margin-bottom: 7px;
            }
            &-time {
                padding-top: 4px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
            &-l {
                border-radius: 16px 16px 16px 0px;
                background-color: $color__white;
                .messenger__chat-messages-message-time {
                    color: $color__grey1;
                }
            }
            &-r {
                margin-left: auto;
                background-color: $color__blue1;
                border-radius: 16px 16px 0px 16px;
                color: $color__white;
            }
        }
    }
    &-sender-body {
        position: fixed;
        bottom: 0px;
        left: 0;
        padding: 0 24px 12px 24px;
        width: 100%;
        background-color: $color__grey3;
        z-index: 3;
    }
    &-sender {
        background-color: $color__white;
        border-radius: 8px;
        box-shadow: $box-shadow1;
        padding: 7px;
        display: flex;
        grid-template-columns: auto auto 1fr 60px;
        column-gap: 10px;
        &-file {
            display: grid;
            grid-template-columns: 40px auto 20px;
            height: 40px;
            align-items: center;
            column-gap: 10px;
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
        &-attach {
            max-height: 36px;
            @include flex-all-center;
            svg {
                width: 30px;
                height: 30px;
            }
        }
        &-smile {
            max-height: 36px;
            @include flex-all-center;
            svg {
                width: 20px;
                height: 20px;
                path {
                    fill: $color__grey2;
                }
            }
        }

        &-autoresize {
            padding-top: 10px;
            width: 100%;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            border: 0;
            font-family: "Roboto", sans-serif !important;
            ::placeholder {
                font-family: "Roboto", sans-serif !important; 
            }
        }
        &-send {
            @include button-main;
            max-height: 36px;
        }
    }
}

.messenger__chat-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ui-modal {
        width: fit-content;
    }
}
.messenger__chat-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .ui-modal{
        width: fit-content;
    }
}
.forward{
    font-style: italic;
    padding: 5px 0;
    
}
.messanger__chat__like{
    // padding:5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color__blue7;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    margin: 5px 0;
}.messanger__chat__like.active{
    // padding:5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    display: none;
}
.el{
    display: flex;
    flex-direction: row;

}.el img{
    max-width: 50px;
}