.admin__posts {
    &-list {
        margin: 16px 0;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        &-item {
            max-width: fit-content;
            border-radius: 12px;
            background: $color__white;
            display: flex;
            padding: 20px 12px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        
        }
        &-row1 {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 12px;
            align-items: center;
            &-pin{
                margin-left: 10px;
                svg{
                    width: 15px;
                    height: 14px;
                }
            }
            &-img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-name {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }
            &-text {
                color: $color__grey10;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }
            &-textunder {
                color: $color__blue5;
                text-decoration-line: underline;
            }
        }
        &-row2{
            height: 200px;
            width: 100%;
            &-img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-radius: 8px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-row3 {
            h5 {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }
            h6 {
                @include sub-title-main;
            }
        }
        &-row4 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr auto;
            width: 100%;
            gap: 12px;
            align-items: center;
            button {
                @include flex-all-center;
                height: 40px;
                padding: 15px 0;
                gap: 10px;
                border-radius: 8px;
                border: 2px solid $color__orange;
                background: $color__grey3;
                box-shadow: $box-shadow1;
            }
            &-repost--active{
                svg{
                    path{
                        fill: $color__blue1 !important;
                        stroke: $color__blue1 !important;
                    }
                }
            }
        }
        &-repost{
            display: grid;
            column-gap: 12px;
            grid-template-columns: auto 1fr;
            align-items: center;
        }
    }
}


.post__modal{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
    &_itembg{
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        gap: 22px;
        background: $color__grey3;
        padding: 8px 16px;
    }
    &_item{
        display: grid;
        grid-template-columns: 30px 1fr;
        column-gap: 22px;
        align-items: center;
        &-button{
            svg{
                path{
                    stroke: $color__black1;
                }
            }
            @include flex-all-center;
        }
        &-button-1{
            svg{
                path{
                    fill: $color__black1;
                }
            }
            @include flex-all-center;
        }
        &-img{
            grid-template-columns:  48px 1fr;
            b{
                font-weight: 600;
            }
            img{
                width: 100%;
                height: 48px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    &_title{
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
    &-subtitle{
        @include sub-title-main;
        font-size: 0.875rem;
        @include text-tree-dots($wdh: 180px)
        
    }
}
