.welcome {
    padding: 42px 40px 125px 40px;
  
    min-height: 100%;
    gap: 12px;
    display: flex;

    &--bg{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: auto;
    }
    &--body{
        z-index: 2;
        @include flex-all-center;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        gap: 12px;
    }
    &-img {
        @include flex-all-center;
        flex-direction: column;
        &-1 {
            max-height: 40px;
            height: 100%;
            width: auto;
            margin-bottom: 12px;
        }
        &-2 {
            max-height: 254px;
            height: 100%;
            width: auto;
        }
    }
    &-title {
        @include title-main;
        font-size: 400;
    }
    &-subtitle {
        text-align: center;
        @include sub-title-main;
    }
    &-btitle {
        text-align: center;
        @include title-main;
        margin-bottom: 8px;
    }
    &-buttons {
        position: fixed;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 80px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
        z-index: 10;
        &-first {
            grid-template-columns: 1fr;
            & > button:first-child {
                display: none;
            }
        }
    }
    &-item {
        &__logo {
            width: 214px;
            height: 59px;
        }
    }
}

.welcome__logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px 0px;
    color: $color__grey3;
    animation: fadeIn 2s ease;
    width: 214px;
    height: 59px;
    z-index: 5;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
