@import '../variables.scss';
.leaflet-container{
    width: 100%;
    height:100vh;
    z-index: 0;
}
.active__bg{
    filter:invert(5%) sepia(72%) saturate(266%) hue-rotate(900deg) grayscale(32%) contrast(60%) !important;
}

.map__menu{
    width:100%;
    // max-height:60px;
    display: flex;
    position: fixed;
    z-index: 2;
    top:75%;
    // margin: 30% auto;
    justify-content: center;
}
.map__menu-item{
    padding: 22px;
    background-color: $color__white;
    margin: 0 5px;
    box-shadow:$box-shadow2 ;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}
.active{
    background-color: $color__alpha;
    padding: 22px;
    margin: 0 5px;
    box-shadow:$box-shadow2 ;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}
.shadow__blue{
}
.map__title{
    margin-top: 85%;
}
@media screen and (max-width:440px){
    .map__menu-item{
        padding: 12px;
    }
    .map__menu{
        top: 80%;
    }
}
.explore-search{
    width:80%;
    margin:auto 0;
}
.explore__search__wrapper{
    display: flex;
    justify-items: center;
    justify-content: center;
    width:100vw;
}
.explore__cancel{
    color:$color__white;
}
.explore__search__main__wrapper{
    margin:8% auto;
    width:90%;
}
.explore__back{
    margin-right:2%;
}
.explore__header{
    display: flex;
    justify-content: space-between;
}
.explore__location__follow{
    margin: 25px 0;
}
.explore__filter{
    margin: 15vh 0;
}
// @media screen and (max-width:450px){
//     .explore__filter{
//         max-width: 70%;
//     }
// }