@import "newsfeed.scss";
@import "chat.scss";
@import "services.scss";


.user {
    padding: 100px 24px 80px 24px;
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    &--body{
        display: flex;
        flex-direction: column;
    }
}

.user__header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: $color__black3;
    display: flex;
    z-index: 2;
    &-chatuser{
        display: flex;
        padding-top: 31px;
        padding-left: 34px;
        column-gap: 12px;
        svg{
            path{
                stroke: $color__grey3;
            }
        }
    }
    &-messages{
        display: grid;
        grid-template-columns: auto 48px 1fr auto;
        gap: 12px;
        width: 100%;
        padding-right: 34px;
        &-exit{
            padding-top: 42px;
        }
        &-img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 31px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
        &-name{
            padding-top: 25px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 187.5% */
            color: $color__grey3;
        }
        &-online{
            color: $color__grey10;
       
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
        }
    }
    &-title {
        color: $color__grey3;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    &-main {
        display: flex;
        justify-content: space-between;
        padding: 25px 32px;
        align-items: center;
        width: 100%;
        position: relative;
        &-chat{
            align-items: flex-start;
          
        }
        &-search{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 50%;
            transform: translate(-50%,  75%);
            transition: all 0.3s ease;
            &-input{
                display: flex;
                gap: 23px;
                padding: 0 24px;
            }
            .ui-input-search{
                width: 100%;
            }
            &--cancel{
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 19.6px */
                color: $color__grey3;
            }
            &--active{
                transform: translate(-50%,  20%);
            }
        }
        &-buttons{
            display: flex;
            column-gap: 11px;
        }
        &-button{
            width: 40px;
            height: 40px;
            @include flex-all-center;
            background: $color__white;
            border-radius: 50%;
            svg{
                path{
                    fill: $color__black3;
                }
            }
            &-1{
                svg{
                    path{
                        stroke: $color__black3;
                    }
                }
            }
        }
    }
}

.user__footer {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    row-gap: 4px;
    background: $color__grey3;
    &-profile {
        @include flex-all-center;
        margin: 6px auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        img {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            object-fit: cover;
        }
        svg {
            path {
                fill: $color__grey2;
            }
        }
    }
    &--active {
        color: $color__black1;
        font-weight: 600;
        svg {
            path {
                fill: $color__black1;
            }
        }
    }
    &--border {
        position: absolute;
        top: -4px;
        left: 0;
        width: 20%;
        height: 4px;
        border-radius: 0 0 20px 20px;
        transition: all 0.3s ease;
        background: $color__black1;
        &-l {
            transform: translateX(0%);
        }
        &-2 {
            transform: translateX(100%);
        }
        &-3 {
            transform: translateX(200%);
        }
        &-4 {
            transform: translateX(300%);
        }
        &-5 {
            transform: translateX(400%);
        }
    }
}


.user--footer--button{
    width: calc(100% - 48px);
}